<h1>Friday</h1>
<form class="" action='/dothing'>
  <div class="form-group">
    <label for="title">Thing to do</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Send</button>
</form>
